body {
    font-family: 'Mingzat', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 50px;
}

.heading-color {
    color: orange;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding: 5%;
}

.half-width img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 5px 20px;
    font-weight: 700;
    border-radius: 5px;
    color: white;

}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}